<style>
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #1e6bb8;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
</style>


<table>
    <tr>
        <td><a href="{{ site.baseurl }}/">Home</a></td>
        <td><a href="{{ site.baseurl }}/ideation">Ideation</a></td>
        <td class="dropdown">
            <button class="dropbtn">Feature Designs
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{{ site.baseurl }}/design/club_database">Club Database</a>
              <a href="{{ site.baseurl }}/design/minutes_db_test">Meeting Minutes Database</a>
        </td>
        <td><a href="{{ site.baseurl }}/frqs">2019 FRQs</a></td>
    </tr>
</table>
