<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>

<nav class="navbar bg-body-light mt-3 mx-3">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="./assets/images/logo.png" alt="Logo" width="4%" height="4%" class="d-inline-block align-text-top mx-2">
      Del Norte High School Clubs
    </a>
    <button class="btn btn-outline-success me-2" type="button">Sign In</button> 
  </div>
</nav>
<nav class="navbar mx-3 navbar-expand-lg bg-body-light border border-success border-top-1 border-bottom-1 border-start-0 border-end-0">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Club List</a>
        <a class="nav-link" href="#">Club Reviews</a>
        <a class="nav-link" href="#">Club Meetings</a>
      </div>
    </div>
    <div class="d-flex justify-content-lg-end">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search Clubs" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
